/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/


/log/
/src/main/resources/application.properties
src/main/resources/static/10mb.pdf
log/pdfgen.log
src/main/resources/static/compressed.tracemonkey-pldi-09.pdf
src/main/resources/static/testsample.pdf
src/main/webapp/WEB-INF/ajax_test.html
log/pdfgen.log
log/
src/main/resources/application.properties
